


<!-- wrapper -->
<div id="ctnWhite"> 
		<div id="wrapper">

			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="./index.html#contact" class="btn btn-xlg btn-danger	 fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Did Rocket Elevator convinced you? 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->

		
						<!-- FORM -->
						<div class="col-md-10 col-sm-4" style="margin: 100px 8%;">

							<h3 style="text-align: center;">A Work Faithful To The Wait</h3>

							
							<!--
								MESSAGES
								
									How it works?
									The form data is posted to php/contact.php where the fields are verified!
									php.contact.php will redirect back here and will add a hash to the end of the URL:
										#alert_success 		= email sent
										#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
										#alert_mandatory	= email not sent - required fields empty
										Hashes are handled by assets/js/contact.js

									Form data: required to be an array. Example:
										contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
										Also, add `required` to input fields if is a mandatory field. 
										Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

									PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
												 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

									WARNING! Do not change the `email` and `name`!
												contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
												contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							-->

							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->



							
							<!-- FORM QUOTE -->
							
							<form action="/quote" method="post" enctype="multipart/form-data">
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
										<div class="col-md-12">
											<label for="contact_department">Department</label>
											
											<select id="building_type" class="form-control pointer" name="contact[department]">
												<option value="">--- Select ---</option>
												<option value="residential">Residential</option>
												<option value="commercial">Commercial</option>
												<option value="corporate">Corporate</option>
												<option value="hybrid">Hybrid</option>
											</select>
										</div>
									</div>

							<!-- FORM RESIDENTIAL -->
									<div id="residential" class="building_type row" >
										<div id="number-of-apartments" class="col-md-4">
											<%= label_tag  "name_id", "N. of Appartements *" %>
											<%= number_field_tag "residentialApp", "0", placeholder: "N. of Appartements", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-floors" class="col-md-4">
											<%= label_tag  "name_id", "N. of Floor *" %>
											<%= number_field_tag "residentialFloor", "0", placeholder: "N. of Floor", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-basements" class="col-md-4">
											<%= label_tag  "name_id", "N. of Basements *" %>
											<%= number_field_tag "residentialBasement", "0", placeholder: "N. of Basements", class: "form-control", min: "0" %>
										</div>
									</div>
							<!-- FORM RESIDENTIAL -->	
							
							<!-- FORM COMMERCIAL -->
									<div id="commercial" class="building_type row" >
										<div id="number-of-companies" class="col-md-4">
											<%= label_tag  "name_id", "N. of Compagnies *" %>
											<%= number_field_tag "commercialCompagnies", "0", placeholder: "N. of Compagnies", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-floors" class="col-md-4">
											<%= label_tag  "name_id", "N. of Floor *" %>
											<%= number_field_tag "ccommercialFloor", "0", placeholder: "N. of Floor", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-basements" class="col-md-4">
											<%= label_tag  "name_id", "N. of Basements *" %>
											<%= number_field_tag "commercialBasements", "0", placeholder: "N. of Basements", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-parking-spots" class="col-md-6">
											<%= label_tag  "name_id", "N. of Parking Spots *" %>
											<%= number_field_tag "commercialParking", "0", placeholder: "N. of Parking Spots", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-elevators" class="col-md-6">
											<%= label_tag  "name_id", "N. of Elevator Cages *" %>
											<%= number_field_tag "commercialElevator", "0", placeholder: "N. of Elevator Cages", class: "form-control", min: "0" %>
										</div>
									 </div>
							<!-- FORM COMMERCIAL -->

							<!-- FORM CORPORATE -->
									<div id="corporate" class="building_type row" >
										<div id="number-of-corporations" class="col-md-4">
											<%= label_tag  "name_id", "N. of Corporate *" %>
											<%= number_field_tag "corporateCorporations", "0", placeholder: "N. of Corporate", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-floors" class="corporateChanger col-md-4">
											<%= label_tag  "name_id", "N. of Floor *" %>
											<%= number_field_tag "corporateFloor", "0", placeholder: "N. of Floor", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-basements" class="corporateChanger col-md-4">
											<%= label_tag  "name_id", "N. of Basements *" %>
											<%= number_field_tag "corporateBasements", "0", placeholder: "N. of Basements", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-parking-spots" class="col-md-6">
											<%= label_tag  "name_id", "N. of Parking Spots *" %>
											<%= number_field_tag "corporateParking", "0", placeholder: "N. of Parking Spots", class: "form-control", min: "0" %>
										</div>
										<div id="maximum-occupancy" class="corporateChanger col-md-6">
											<%= label_tag  "name_id", "N. of Occupancy by stage *" %>
											<%= number_field_tag "corporateOccupancy", "0", placeholder: "DN. of Occupancy by stage", class: "form-control", min: "0" %>
										</div>
									 </div>
							<!-- FORM CORPORATE -->
							
							<!-- FORM HYBRID -->
									<div id="hybrid" class="building_type row" >
										<div id="number-of-companies" class="col-md-4">
											<%= label_tag  "name_id", "N. of Companies *" %>
											<%= number_field_tag "hybridCompanies", "0", placeholder: "N. of Companies", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-floors" class="hybridChanger col-md-4">
											<%= label_tag  "name_id", "N. of Floor *" %>
											<%= number_field_tag "hybridFloor", "0", placeholder: "N. of Floor", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-basements" class="hybridChanger col-md-4">
											<%= label_tag  "name_id", "N. of Basements *" %>
											<%= number_field_tag "hybridBasements", "0", placeholder: "N. of Basements", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-parking-spots" class="col-md-4">
											<%= label_tag  "name_id", "N. of Parking Spots *" %>
											<%= number_field_tag "hybridParking", "0", placeholder: "N. of Parking Spots", class: "form-control", min: "0" %>
										</div>
										<div id="maximum-occupancy" class="hybridChanger col-md-4">
											<%= label_tag  "name_id", "N. of Occupancy by Stage *" %>
											<%= number_field_tag "hybridOccupancy", "0", placeholder: "N. of Occupancy by Stage", class: "form-control", min: "0" %>
										</div>
										<div id="business-hours" class="col-md-4">
											<%= label_tag  "name_id", "N. of Hours of Building Activity *" %>
											<%= number_field_tag "hybridHour", "0", placeholder: "N. of Hours of Building Activity", class: "form-control", min: "0" %>
										</div>
									 </div>
								</fieldset>
							<!-- FORM HYBRID -->

							<!-- FORM RADIO BUTTON -->

									<div style="margin-top: 50px;" class="priceShow">
										Number of elevator shafts required : <span id="elevatorShafts">0</span>
									</div>


							<div id="building_prices" class="priceShow"> 
								<div class="row" style="margin-top: 100px;">
									<div class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<%= label_tag  "name_id", "Standard" %>
										<%= radio_button_tag "standard", "standard" %>
									</div>
									<div class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<%= label_tag  "name_id", "Premium" %>
										<%= radio_button_tag "premium", "premium" %>
									</div>
									<div class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<label for="excelium">Excelium</label>
										<input type="radio" id="excelium" name="variety" value="excelium">
									</div>
								</div>
							<!-- FORM RADIO BUTTON -->

							<!-- FORM RADIO VALUE -->

								<div class="row" style="margin-top: 130px;">
									<div id="elevator-amount" class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<%= label_tag  "name_id", "N. of Elevator" %>
										<%= text_field_tag "elevatorAmount" %>
									</div>
									<div id="elevator-unit-price" class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<%= label_tag  "name_id", "Elevator Unit Price" %>
										<%= text_field_tag "elevatorUnitPrice" %>
									</div>
									<div id="elevator-total-price" class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<%= label_tag  "name_id", "Elevator Total Price" %>
										<%= text_field_tag "elevatorTotalPrice" %>
									</div>
									<div id="installation-fees" class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<%= label_tag  "name_id", "Installation Fees" %>
										<%= text_field_tag "installationFees" %>
									</div>
									<div id="final-price" class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<%= label_tag  "name_id", "Final Price" %>
										<%= text_field_tag "finalPrice" %>
									</div>
								</div>
							</div>
								
							</form>
						</div>
</div>
							<!-- FORM RADIO VALUE -->
					

						<!-- FORM QUOTE -->