


<!-- wrapper -->
<div id="ctnWhite"> 
		<div id="wrapper">

			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="./index.html#contact" class="btn btn-xlg btn-danger	 fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Did Rocket Elevator convinced you? 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->

		
						<!-- FORM -->
						<div class="col-md-10 col-sm-4" style="margin: 100px 8%;">

							<h3 style="text-align: center;">A Work Faithful To The Wait</h3>

							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->



							
							<!-- FORM QUOTE -->
							
							<form action="/quote" method="post" enctype="multipart/form-data">
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
										<div class="col-md-12">
											<label for="contact_department">Department</label>
											
											<select id="building_type" class="form-control pointer" name="contact[department]">
												<option value="select">--- Select ---</option>
												<option value="residential">Residential</option>
												<option value="commercial">Commercial</option>
												<option value="corporate">Corporate</option>
												<option value="hybrid">Hybrid</option>
											</select>
										</div>
									</div>

									<div id="div">
										<div id="number-of-apartments" class="col-md-4">
											<%= label_tag  "name_id", "N. of Appartements *" %>
											<%= number_field_tag "number_appartement", "0", placeholder: "N. of Appartements", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-floors" class="col-md-4">
											<%= label_tag  "name_id", "N. of Floor *" %>
											<%= number_field_tag "number_floor", "0", placeholder: "N. of Floor", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-basements" class="col-md-4">
											<%= label_tag  "name_id", "N. of Basements *" %>
											<%= number_field_tag "number_basement", "0", placeholder: "N. of Basements", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-companies" class="col-md-4">
											<%= label_tag  "name_id", "N. of Compagnies *" %>
											<%= number_field_tag "number_compagny", "0", placeholder: "N. of Compagnies", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-corporations" class="col-md-4">
											<%= label_tag  "name_id", "N. of Corporate *" %>
											<%= number_field_tag "number_corporate", "0", placeholder: "N. of Corporate", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-elevators" class="col-md-4">
											<%= label_tag  "name_id", "N. of Elevator Cages *" %>
											<%= number_field_tag "number_elevator", "0", placeholder: "N. of Elevator Cages", class: "form-control", min: "0" %>
										</div>
										<div id="number-of-parking-spots" class="col-md-4">
											<%= label_tag  "name_id", "N. of Parking Spots *" %>
											<%= number_field_tag "number_parking", "0", placeholder: "N. of Parking Spots", class: "form-control", min: "0" %>
										</div>
										<div id="maximum-occupancy" class="corporateChanger col-md-4">
											<%= label_tag  "name_id", "N. of Occupancy by stage *" %>
											<%= number_field_tag "max_occupancy", "0", placeholder: "N. of Occupancy by stage", class: "form-control", min: "0" %>
										</div>
										<div id="business-hours" class="col-md-4">
											<%= label_tag  "name_id", "N. of Hours of Building Activity *" %>
											<%= number_field_tag "business_hour", "0", placeholder: "N. of Hours of Building Activity", class: "form-control", min: "0" %>
										</div>
									</div>
								</fieldset>

							<!-- FORM RADIO BUTTON -->

								<div style="margin-top: 50px;" class="priceShow">
									Number of elevator shafts required : <span id="elevatorShafts">0</span>
								</div>


								<div id="building_prices" class="priceShow"> 
									<div class="row" style="margin-top: 100px;">
										<div class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
											<%= label_tag  "name_id", "Standard" %>
											<%= radio_button_tag "building_prices", "standard" %>
										</div>
										<div class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
											<%= label_tag  "name_id", "Premium" %>
											<%= radio_button_tag "building_prices", "premium" %>
										</div>
										<div class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
											<%= label_tag  "name_id", "Excelium" %>
											<%= radio_button_tag "building_prices", "excelium" %>
										</div>
									</div>
								</div>
							<!-- FORM RADIO BUTTON -->

							<!-- FORM RADIO VALUE -->

								<div id="quote" class="row" style="margin-top: 130px;">
									<div id="elevator-amount" class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<%= label_tag  "name_id", "N. of Elevator" %>
										<%= text_field_tag "ele_amount" %>
									</div>
									<div id="elevator-unit-price" class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<%= label_tag  "name_id", "Elevator Unit Price" %>
										<%= text_field_tag "ele_price_unit" %>
									</div>
									<div id="elevator-total-price" class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<%= label_tag  "name_id", "Elevator Total Price" %>
										<%= text_field_tag "ele_total_price" %>
									</div>
									<div id="installation-fees" class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<%= label_tag  "name_id", "Installation Fees" %>
										<%= text_field_tag "inst_fee" %>
									</div>
									<div id="final-price" class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<%= label_tag  "name_id", "Final Price" %>
										<%= text_field_tag "final_price" %>
									</div>
									<div id="final-price" class="col-md-4" style="display: flex; flex-direction: column; align-items: center;">
										<%= link_to 'Submit', edit_quote_path(@quote), method: :post, class: 'btn-submit' %>
									</div>
								</div>
							</div>
							</form>
						</div>
		</div>
</div>
							<!-- FORM RADIO VALUE -->
					

						<!-- FORM QUOTE -->