<!DOCTYPE html>
<html>
  <head>
    <title>Rocket Elevator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
    	<!-- WEB FONTS : use %7C instead of | (pipe) -->
			<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<%# <link href="app/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> %>
		<%# <link href="./app/assets/stylesheets/style.css" rel="stylesheet" type="text/css" /> %>
		
		

		<!-- REVOLUTION SLIDER -->
		<%# <link href="app/assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" /> %>
		<%# <link href="app/assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" /> %>

			<!-- THEME CSS -->
			<%# <link href="app/assets/stylesheets/essentials.css" rel="stylesheet" type="text/css" />
			<link href="app/assets/stylesheets/layout.css" rel="stylesheet" type="text/css" /> %>
	
			<%= stylesheet_link_tag "application" %>

			<!-- PAGE LEVEL SCRIPTS -->
			<%# <link href="app/assets/stylesheets/header-1.css" rel="stylesheet" type="text/css" />
			<link href="app/assets/stylesheets/color_scheme/blue.css" rel="stylesheet" type="text/css" id="color_scheme" /> %>
	


  	</head>


  	<body class="smoothscroll enable-animation">

	
		<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

			<!-- TOP NAV -->
			<header id="topNav">
					
					
				<div class="container">

					<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top">
							<img src="/app/assets/images/R2.png" alt="" />
                                
						</a>

						<!-- 
							Top Nav 
								
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
					<div id="home" class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
						<nav class="nav-main">

							<!-- 
								.nav-onepage
								Required for onepage navigation links
										
								Add .external for an external link!
							-->
									
							<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
								<li class="active"><!-- HOME -->
									<a id="home-nav" href="#">
										HOME
									</a>
								</li>
								<li class="nav-item dropdown"><!-- SERVICES -->
									<a class="nav-link dropdown-toggle" href="#services" data-bs-toggle="dropdown" style="display: flex; align-items: center;">SERVICES </a>
									<ul class="dropdown-menu bg-white" style="border: none;">
										<li><a class="dropdown-item" href="./residential.html" style="color: black;" >RESIDENTIAL</a></li>
										<li><a class="dropdown-item" href="./commercial.html" style="color: black;" >COMMERCIAL</a></li>
										<li><a class="dropdown-item" href="./quote.html" style="color: black;" >GET QUOTE</a></li>
									</ul>
								</li>
									<li><!-- PORTFOLIO -->
										<a id="portfolio-nav" href="#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a id="news-nav" href="#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a id="clients-nav" href="#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a id="contact-nav" href="#contact">
											CONTACT
										</a>
									</li>
							</ul>
								

						</nav>
					</div>

				</div>
				
			</header>
			
			<!-- /Top Nav -->

		</div>

			<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->

    <%= yield %>

  		<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
								We have the conviction that we create the most innovative and reliable products on the market. Contact us today for any questions you might have.

							</p>
							<h2>(418) 555-1234</h2>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-4">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter to get Important News & Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="growHover btn btn-blue" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->


						</div>
						<!-- /col #2 -->

					</div>


				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, Company LTD
					</div>
				</div>

		
			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/plugins/';</script>
	<%#	<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script> %>
		<%# <script src="assets/js/quote.js"></script> %>
		<%# <script src="assets/js/scripts.js"></script> %>

		<%= javascript_include_tag 'application.js' %> 
		

		<!-- REVOLUTION SLIDER -->
		<%# <script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script> %>
		<%# <script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script> %>
		<%# <script src="assets/js/view/demo.revolution_slider.js"></script> %>

		<!-- PAGELEVEL SCRIPTS -->
		<%# <script src="assets/js/contact.js"></script> %>

		<!-- 
			GMAP.JS 
			http://hpneo.github.io/gmaps/
		-->
		<%# <script src="//maps.google.com/maps/api/js?key=AIzaSyCqCn84CgZN6o1Xc3P4dM657HIxkX3jzPY"></script> %>
		<%# <script src="assets/plugins/gmaps.js"></script> %>

		
		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->



  </body>
</html>
